<ul class="ads">
  <%= render :partial => 'ads/ad', :collection => @ads, :as => :ad, :users => @users %>
  <%= will_paginate @ads %>
  <% if (@ads.blank? && current_user.admin?) %>
    <p> No new posted ads </p>
  <% end %>
</ul>
