<ul class='ads'>

  <script type="text/javascript"></script>
  <%= render :partial => 'ads/ad', :collection => @ads, :as => :ad %>

  <%= will_paginate @ads %>

  <% if (@ads.blank?) %>
    <p> No ad available... </p>
  <% end %>
</ul>
