<table>
  <tr>
    <td>
      <%= render 'ad_main', :ad => @ad %>
    </td>
    <td class='right'>
      <%= render 'ads/links', :ad => @ad %>
    </td>
  </tr>
</table>


<%= render 'comments/comments', :comments => @ad.comments %>

<% if can? :create, Comment %>
  <%= render 'comments/new_form' %>
<% end %>
