- if @announcements.blank?
  %div No new announcement...
- else
  = link_to 'clear all', clear_announcements_path,         |
    :method => :delete, data: { confirm: 'Are you shure?'} |
  %ul.models
    - @announcements.map do |an|
      %li
        = render 'announcement', :announcement => an
