- if @announcements.blank?
  %div No new announcement...
- else

  .comments-header
    = @announcements.count
    = 'announcement'.pluralize(@announcements.count)

  = link_to 'clear all', clear_user_announcements_path(current_user),         |
    :method => :delete, data: { confirm: 'Are you shure?'} |

  %ul.models
    - @announcements.map do |an|
      %li
        = render 'announcement', :announcement => an
