<% provide(:title, current_user.email) %>
<table>
  <td> <h3> <%= current_user.email %> </h3> </td>
  <td> <%= link_to "edit", edit_user_registration_path %> </td>
</table>
<%= render 'ad_form' %>
<%= render 'ads' %>
