<% provide(:title, @user.name) %>

  <h3> <%= @user.name %> </h3>
  <% if @user == current_user && @user.provider == nil %>
    <%= link_to 'edit', edit_user_registration_path %>
  <% end %>

<% if can? :update, @ad %>
    <%= render 'ads/ad_form' %>
<% end %>

<%= render 'ads/ads' %>
