= render 'ad_options/title_and_form', :option => @section
%ul.models
  - @sections.each do |section|
    %li
      = section.name
      %br/
      = link_to 'delete', section, method: :delete, |
        data: { confirm: 'You  sure?' },            |
        title: section.name                         |
      %br/
      = link_to 'subsections', new_section_subsection_path(section)
