%ul.models
  - options.each do |option|
    %li
      = option.name
      %br/
      = link_to 'delete', option, method: :delete, |
        data: { confirm: 'You  sure?' },           |
        title: option.name                         |
